body{
  color:#ff0800e7 ;
  font-family: cursive;
  
background-color: #003cff;
}
.background{
  background-color:white;
  background-size: cover; 
  color: whitesmoke;
  /* backgroun-blend-mode:*/ */
  /* Background image not working */

}
#guess{
  text-align: left;

}
#topright{
}
.jumbotron-fluid{
background-color: #ff0800e7 ;
color: white;
height: auto;

}

#bottomgamesection{
  color: white;
}


#start-game-button{
  cursor: pointer;
  outline: none;
  border: none;
  background-color: lightslategray;
  box-shadow: 5px grey;
  padding: 5px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-transform: uppercase;

}
/* Add 
#start-game-button:hover{}

#start-game-button:active*/

#placeholders{
  
}
#start-icon{
}

.container-fluid{
  background-color:white;

}

.game-section{

}
#middle-game-section{
}
#guessed-letters{

}
#guesses-left{

}
#wins{

}
#losses{

}